.first-div{
    margin-top: 70px;
    text-align: center;
    p{
        font-size: 25px;
        margin: 10px;
    }
    h4{
    font-size: 45px;
    margin: 10px 10px 60px;
    }
}
.card{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    font-family: sans-serif;
}
.second-div{
    width: 400px;
    height: max-content;
    font-family: sans-serif;
    .row{
        padding:0 25px;
    }
    img{    
        width:100%;
        height: 295px;
        object-fit: cover; 
    }
    .box{
        width: 66px;
        height: 66px;
        background-color:goldenrod;
        position: relative;
        top: -90px;
        h5{
            padding: 13px 0 0 0;
            font-size: 22px;
            text-align: center;
        }
    }
    h3{
        font-size: 23px;
        font-weight: normal;
        margin: -50px 0 0 0;
    }
    p{
        line-height: 1.5;
    }
    a{
        color: rgba(237, 186, 2, 0.999);
        font-size: 16.5px;
        text-decoration: none;
    }
}
@media only screen and (max-width:1200px){
    .second-div{
        width: 301px;
        img{
            height: 295px;
        }
    }    
    .row{
        h3{
            font-size: 19px;
        }
        p , a{
            font-size: 14px;
        }
    }
    .card{
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 991px) {
    .second-div{
        width: 227px;
    }
    .box{
        width: 85px !important;
        height: 85px !important;
        h5{
            width: 20px;
            margin: 25px;
        }
    }
    .row{
        h3{
            font-size: 18px;
        }
        p , a{
            font-size: 13px;
        }
    }
    .card{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:767px) {
    .second-div{
        width: 540px;
    }
    .card{
        margin-bottom: 100px;
        grid-template-columns: auto;
    }
    .box{
        width: 99px !important;
        height: 99px !important;
        h5{
            width: 20px;
            margin: 30px;
        }
    }
    .row{
        h3{
            font-size: 20px;
        }
        p , a{
            font-size: 13.5px;
        }
    }
}
@media only screen and (max-width:551px) {
    .second-div{
        width: 340px;
    }
    .card{
        margin-bottom: 20px;
        grid-template-columns: auto;
    }
    .box{
        width: 82px !important;
        height: 99px !important;
        h5{
            width: 20px;
            margin: 25px;
        }
    }
    .row{
        h3{
            font-size: 19px;
        }
        p , a{
            font-size: 13px;
        }
    }
}